[submodule "src/ArmaExt/lib/json"]
	path = src/ArmaExt/lib/json
	url = https://github.com/nlohmann/json.git
[submodule "src/ArmaExt/lib/boost-cmake"]
	path = src/ArmaExt/lib/boost-cmake
	url = https://github.com/KevinThierauf/boost-cmake
[submodule "src/ArmaExt/lib/fmt"]
	path = src/ArmaExt/lib/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "src/ArmaExt/lib/ArmaPboLib"]
	path = src/ArmaExt/lib/ArmaPboLib
	url = https://github.com/arma3/ArmaPboLib.git
[submodule "src/ArmaExt/lib/MipMapTool"]
	path = src/ArmaExt/lib/MipMapTool
	url = https://github.com/arma3/MipMapTool.git
[submodule "src/ArmaExt/lib/cpp-base64"]
	path = src/ArmaExt/lib/cpp-base64
	url = https://github.com/ReneNyffenegger/cpp-base64.git
[submodule "src/ArmaExt/lib/s3tc-dxt-decompression"]
	path = src/ArmaExt/lib/s3tc-dxt-decompression
	url = https://github.com/Benjamin-Dobell/s3tc-dxt-decompression.git
