# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


release/*
*.cache
*.pbo
texHeaders.bin
*.swp
*.swo
*.biprivatekey
Thumbs.db
*/.vs
*/out
/src/ArmaExt/out

.vs/

src/DesktopClient/packages/

src/DesktopClient/obj/

src/DesktopClient/bin/

src/TacControl.Common/obj/

src/TacControl.Common/bin/

src/AndroidClient/TacControl/TacControl.Android/obj/

src/AndroidClient/TacControl/TacControl.Android/bin/

src/AndroidClient/TacControl/TacControl/bin/

src/AndroidClient/TacControl/TacControl/obj/
